*{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f1f1f1;
}

/* +++++++++++++++++++++++++ Login page +++++++++++++++++++++++++ */

.lgn-container {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.lgn-container img {
  width: 70%;
  overflow: hidden;
  position: fixed;
  display: inline-block;
}
.form-container {
  margin-left: 70%;
  width: 30%;
  overflow: auto;
  position: fixed;
  height: 100%;
  background-color: #f1f1f1;
  display: inline-block;
}
.form-body {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.5rem;
  height: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgb(223, 223, 223), 0px 0px 7px rgb(223, 223, 223);
  text-align: center;
}
.form-body h1, .form-body h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 100;
  text-align: center;
}
.form-body input[type=text], input[type=password] {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 70%;
  height: 34px;
  text-align: center;
  font-size: 18px;
  color: #444;
  outline: none;
}
.form-body input::placeholder {
  color: #aaa;
}
.form-body button {
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ccc;
  background-color: rgb(36, 38, 77);
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.form-body button:hover {
  background-color: rgb(31, 33, 61);
  color: #eee;
  cursor: pointer;
}
.form-body input[type=checkbox] {
  display: inline-block;
}
.form-body span, span a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
}
.form-body span a:hover {
  color: rgb(148, 66, 66);
}
#home {
  margin-top: 1rem;
  display: block;
}

  /* ++++++++++++++++++++++++++++ Admin Side Navigation ++++++++++++++++++++++++++++ */

.adm-sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  width: 18%;
  background-color: #fff;
  overflow: auto;
  display: inline-block;
  box-shadow: 1px 0px 5px #999;
}
.adm-sidebar h4 {
  margin-top: 10px;
  padding-bottom: 12px; 
  text-align: center;
  font-weight: 100;
}
.active {
  font-weight: bolder;
  background-color: #ddd;
}
.menu ul {
  margin-top: 1rem;
}
.menu ul li {
  padding: 1rem 2rem;
}
.menu ul li:hover {
  background-color: #eee;
}
.menu ul li a {
  font-size: 14px;  
  text-decoration: none;
  color: #313131;
}
  /* ++++++++++++++++++++++++++++ Admin Top Navigation ++++++++++++++++++++++++++++ */
.adm-top-nav {
  width: 82%;
  margin-left: 18%;
  height: 60px;
  background-color: rgb(19, 16, 36);
  display: inline-block;
}
.adm-top-nav h5 {
  margin: 1rem 0rem 0rem 1rem;
  color: #f1f1f1;
}
  /* +++++++++++++++++++++++++++ Admin-content +++++++++++++++++++++++++++ */

.adm-content {
  margin-top: 0rem;
  margin-left: 18%;
  height: 100%;
  position: auto;
  z-index: -1;
  background-color: #f1f1f1;  
}
.adm-header {
  display: block;
  width: 100%;
  padding: 10px 0px 3px 0px;
  background-color: #fff;
}
.adm-header h3 {
  margin-left: 1rem;
  font-weight: 100;
}
.content {
  background-color: #fff;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px #999, -2px -2px 5px #999;
}
/* +++++++++++++++++++++++++++ register-page +++++++++++++++++++++++++++++++ */
#register-page {
  width: 40%;
}
#register-head {
  text-align: center;
}